
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* A altura mínima deve ser a da viewport para que ocupe a tela inteira */
  background-image: url('https://img.freepik.com/vetores-gratis/padrao-de-ponto-de-interrogacao-desenhado-a-mao_23-2149416649.jpg?w=826&t=st=1703033810~exp=1703034410~hmac=17041de12ef0250d570161d880adf8a866252214e3c9dd2ea4e600149eed5a6e'); /* Atualize com o caminho da sua imagem */
  background-size: cover;
  background-position: center;
  padding: 20px; /* Espaçamento em volta do conteúdo*/
  width: 100vw; /* Largura deve ser 100% da viewport */
  box-sizing: border-box; /* Garante que padding não adicione largura ao elemento */
}

.home-title {
  font-size: 4em; /* Tamanho grande para o título */
  color: #ffffff; /* Cor branca para o texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra no texto para melhorar a legibilidade */
  margin-bottom: 0.5em;
}


.register-form {
  background: rgba(255, 255, 255, 0.8); /* Fundo branco translúcido */
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaço entre os campos */
}

.register-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .login-form {
    padding: 10px;
    max-width: 90%;
  }
}